# MONGO_URI = mongodb://xninjamain:123456aA@localhost:27017/?tls=true&tlsAllowInvalidHostnames=true&tlsCAFile=C%3A%5CUsers%5Cduongnn%5C.ssh%5Cglobal-bundle.pem&replicaSet=rs0&retryWrites=false&directConnection=true
MONGO_URI=mongodb://localhost:27017
DB_NAME=match_3_rpg
EXT_URL=chrome-extension://igjaendlcjgmngompmjpdjgleandhcmk
CLIENT_URL=https://twitter.com
CLIENT_URL=http://www.localhost:3000
CLIENT_WEB_URL=http://www.localhost:3000
SERVER_URI=http://www.localhost:3001
SERVER_PORT=3001
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=M38/XpU2Th8Fb2qQkSEDgsgNzLR+Ink0LmRCQ1rPIrE=
TWITTER_CLIENT_ID=LUN0RERUaTRFa1Z5TXU4Z1NYOHY6MTpjaQ
TWITTER_CLIENT_SECRET=BofmsTPH6JaqnZgIfUgutpKaZ-4Qs9X02xGPJ7Hu8h37WWIMnZ
TWITTER_CONSUMER_KEY=vKqvLh3fYwkJhtp4zhBfZlrv7
TWITTER_CONSUMER_SECRET=gxy5TOr0AYlCbmfUXcw9yDMLGSS1r7FvfBUuvvtG7W6BSFHyb0
ADMIN_PRIVATE_KEY_HASH=
SECRET_KEY=M38/XpU2Th8Fb2qQkSEDgsgNzLR+Ink0LmRCQ1rPIrE=
ENCRYPTION_KEY=pY+SCLjlLp7H76eeNi2bivSQ+XLO40OjSqRiUBakuH0=
DISCORD_CLIENT_SECRET=Nn_tg6fAvABlIcyjtzjGL7S0_5rgMonC
DISCORD_CLIENT_TOKEN=MTE5Nzg0NzA4NzY1Njc1MTExNA.Gjrsbo.gnaSlC2xsxDaUEEomhCKt7bo8LJ704lQ6KxVeI
DISCORD_CLIENT_ID=1197847087656751114
DISCORD_GUILD_ID=1194888148921102356
DISCORD_REDIRECT_URI=https://twitter.com/oauth/callback/discord
DISCORD_REDIRECT_WEB_URI=https://app.xninja.tech/oauth/callback/discord
SIGN_CODE=0158684658465131836486549
APP_VERSION="PROD"